# H1:Data Science Tools and Ecosystem

In [13]:
# In this notebook, Data Science Tools and Ecosystem are summarized.
**Objectives:**
- SQL
- Python
- R

<class 'SyntaxError'>: invalid syntax (<ipython-input-13-cbed865bfb36>, line 2)

In [10]:
# Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R
4. Julia

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. PyTorch

# Data science tools
| Data Science Tools |
| ------------------ | 
| GitHub |
| PostgreSQL |
| Rstudio |

# H3: Below are a few examples of evaluating arithmetic expressions in Python
# This a simple arithmetic expression to mutiply then add integers

<class 'SyntaxError'>: invalid syntax (<ipython-input-10-8f0f04819d53>, line 2)

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# H2: Author 
Inga